fastapi
uvicorn
python-multipart
# opencv-python-headless 在 simple-lama 中可能已包含，但保留也可以
opencv-python-headless
# 关键库
simple-lama-inpainting
Pillow
numpy==1.23.5
# 移除 paddle 相关的（如果你不再用 paddleocr，否则保留）
# paddlepaddle...
# paddleocr...
